@font-face {
    font-family: domain;
    src: url(./font/Domaine.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html , body {
    height: 100%;
    width: 100%;
}

#main {
    background-color: #222;
    overflow-x: hidden;
}

#page1{
    height:150vh;
    width: 100vw;
    background-color: #C2BAB0;
    position: relative;
    overflow: hidden;
}

#nav {
    height: 110px;
    width: 100%;
    display: flex;
    padding: 0 30px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #222;
}

#nav img{
    height: 29px;
    width: 30%;
}

#nav h5{
    font-size: 20px;
    font-weight:100 ;
    width: 30%;
}

#nav i{
   width: 30%;
   text-align: right;
}

#elems{
    /* background-color: aqua; */
    height: 430px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 60px;
}

#elem1{
    width: 30%;
    height: 100%;
    /* background-color: blue; */
  
}

#elem2{
    width: 30%;
    height: 100%;
    /* background-color: blue; */
    border-right: 2px solid #595959;
    padding: 20px 60px ;
    text-align: center;
    border-left:  2px solid #595959;
}

#elem3{
    width: 30%;
    height: 100%;
    /* background-color: blue; */
}

#elem1 #image-div{
    height: 60%;
    width: 100%;
    overflow: hidden;
}



#image-div img{
     height: 100%;
     width: 100%;
     object-fit: cover;
     border: #595959;
     transition: all ease 0.5s;
}

#elem3 #image-div{
    height: 60%;
    width: 100%;
    overflow: hidden;
}

#image-div:hover img{
    scale: 1.1;
}

#elem1 h4{
   font-size: 20px;
   margin-top: 20px;
   margin-bottom: 20px;
    font-family: Canopee;
}

#elem1 h4 span{
background-color:#B93C12;
color:#C2BAB0;
font-weight:100 ;
font-size: 24px;
padding: 4px;
margin-left: 10px;
border-radius: 5px;
}

#elem1 p{
    font-size: 15px;
    font-family: "Domaine";
font-weight: 100;
color: #424040;
 }



 #elem3 h4{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
     font-family: Canopee;
 }
 
 #elem3 h4 span{
 background-color:#B93C12;
 color:#C2BAB0;
 font-weight:100 ;
 font-size: 24px;
 padding: 4px;
 margin-left: 10px;
 border-radius: 5px;
 }
 
 #elem3 p{
     font-size: 15px;
     font-family: Domaine;
 font-weight: 100;
 color: #424040;
  }

  #elem2 h2{
    font-family: Canopee;
    font-size: 60px;
    font-weight: 100;
  }

  #elem2 h3{
    font-family: Domaine;
    font-size: 30px;
    font-weight: 80;
    color: #3b3a3a;
    margin: 20px 0;
  }

  #elem2 h6{
    font-family: Domaine;
    font-size: 10px;
    color: #3b3a3a;
  }


  #page1 h1{
    font-size: 480px;
    font-weight: 100;
    font-family: Canopee;
    background-color: #1c1c19;
    color: #C2BAB0;
    line-height:380px ;
    width: 96%;
    margin-left: 2%;
    letter-spacing: -25px;



  }

  #page2{
    height: 150vh;
    width: 100%;
    background-color: #C2BAB0;
  }